.u-section-1 .u-sheet-1 {
  min-height: 1079px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 710px;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 273px;
  height: auto;
  margin: 21px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 27px;
}

.u-section-1 .u-group-2 {
  min-height: 70px;
  height: auto;
  width: 743px;
  margin: 1px 3px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 3px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -42px auto 0 82px;
}

.u-section-1 .u-group-3 {
  min-height: 70px;
  height: auto;
  width: 743px;
  margin: 31px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 3px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -42px auto 0 82px;
}

.u-section-1 .u-group-4 {
  min-height: 70px;
  height: auto;
  width: 743px;
  margin: 31px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 3px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -42px auto 0 82px;
}

.u-section-1 .u-table-1 {
  width: 593px;
  margin: 38px auto 0;
}

.u-block-fe91-44 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-1 .u-table-cell-1 {
  text-transform: none;
  background-image: none;
  font-weight: bold;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 400;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-block-fe91-35 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -186px 58px 0 auto;
}

.u-section-1 .u-group-5 {
  width: 444px;
  min-height: 250px;
  height: auto;
  margin: 192px auto 53px 274px;
}

.u-section-1 .u-container-layout-5 {
  padding: 9px 14px;
}

.u-section-1 .u-shape-1 {
  width: 39px;
  height: 39px;
  background-image: none;
  margin: 7px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 348px;
  height: auto;
  min-height: 39px;
  margin: -39px auto 0 60px;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 39px;
  height: 39px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-7 {
  width: 348px;
  height: 39px;
  margin: -39px auto 0 60px;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 9px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto -24px 0;
}

.u-section-1 .u-shape-3 {
  width: 39px;
  height: 39px;
  background-image: none;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-8 {
  width: 348px;
  height: 39px;
  margin: -39px auto 0 60px;
}

.u-section-1 .u-container-layout-8 {
  padding: 6px 9px;
}

.u-section-1 .u-text-7 {
  margin: 0 auto -24px 0;
}

.u-section-1 .u-group-9 {
  width: 348px;
  height: 39px;
  margin: 20px auto 0 60px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 9px;
}

.u-section-1 .u-text-8 {
  margin: 6px auto -19px 0;
}

.u-section-1 .u-shape-4 {
  width: 39px;
  height: 39px;
  margin: -39px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-table-1 {
    margin-top: 93px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -33px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -33px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    width: 666px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 666px;
  }

  .u-section-1 .u-group-4 {
    width: 666px;
  }

  .u-section-1 .u-table-cell-3 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-4 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-5 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-9 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-11 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-12 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 96px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-group-4 {
    width: 320px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-10 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-12 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 118px;
  }

  .u-section-1 .u-group-7 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    width: 320px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 430px;
}

.u-section-2 .u-text-1 {
  width: 710px;
  margin: 40px auto 0;
}

.u-section-2 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-block-344c-44 {
  border-style: solid;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-2 .u-table-cell-1 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-2 .u-table-cell-8 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-block-344c-35 {
  background-image: none;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-table-cell-5 {
    font-size: 2rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 2rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 2rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 125px;
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 122px;
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -43px;
  }

  .u-section-2 .u-table-cell-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-table-cell-6 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-table-cell-7 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-table-cell-8 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-text-1 {
  width: 710px;
  margin: 40px auto 0;
}

.u-section-3 .u-table-1 {
  margin-top: 9px;
  margin-bottom: 19px;
}

.u-block-e9ef-78 {
  border-style: solid;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-section-3 .u-table-cell-1 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-2 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-4 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-5 {
  font-weight: 400;
}

.u-section-3 .u-table-cell-6 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-3 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-3 .u-table-cell-8 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
}

.u-block-e9ef-114 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}