.u-section-1 .u-sheet-1 {
  min-height: 559px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 300px;
  --radius: 31px;
  margin: 33px auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 450px;
  height: 300px;
  margin: -300px 33px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -182px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -161px auto 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 138px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 227px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 227px;
    margin-top: -227px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -109px;
  }
}